<form  [formGroup]="frm">
  <div class="col-lg-12">
    Name : 
    <input class="form-control" formControlName="first_name">
    <p style="color:red" *ngIf="frm.get('first_name').errors && frm.get('first_name').touched">
      <span *ngIf="frm.get('first_name').errors['required']">
        Name required !
      </span>
      <span *ngIf="frm.get('first_name').errors['minlength']">
        Minimum 2 characters required !
      </span>
    </p>
  </div>
  <div class="col-lg-12">
    Department : 
    <input class="form-control" formControlName="department">
    <p style="color:red" *ngIf="frm.get('department').errors && frm.get('department').touched">
      <span *ngIf="frm.get('department').errors['required']">
        Name required !
      </span>
    </p>
  </div><br>
  <div class="col-lg-12">
    <button (click)="addPatient()">[+]</button>
  </div>
  <hr>

    <div class="col-lg-12" formArrayName="patients">
      <div *ngFor="let x of frm.get('patients').controls; let i = index;">
        <div [formGroupName]="i">
          <div class="card">
            <b>Patient # {{i+1}}</b>
            <button (click)="delPatientform(i)">[-]</button>
              <div class="card-body">
                Patient Name : <input class="form-control" formControlName="patient_name">
                <br>
                Patient Disease : <input class="form-control" formControlName="patient_disease">
              </div>
          </div>
        </div>
      </div>
    </div>

    

  <div class="col-lg-12">
    <button class="btn btn-primary" [disabled]="!frm.valid">Save</button>
  </div>
</form>