<div class="container">

<!-- <app-dynamic-form></app-dynamic-form> -->
<!-- <app-test-pipe></app-test-pipe> -->
    <!-- <div class="row">
        <div class="col-lg-12">
            <a routerLink="/">Home</a> | 
            <a routerLink="/about">About</a> | 
            <a routerLink="/contact">Contact</a> | 
            <a [routerLink]="['/users',121,53,67]">Users</a> | 
            <hr>
            <router-outlet></router-outlet>
            
        </div>
    </div> -->
<!-- <app-directive-form></app-directive-form> -->
<app-dynamic-form></app-dynamic-form>
    
</div>